always-auth=true
@goutham-05:registry=https://npm.pkg.github.com 
_authToken=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
registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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